#app{
  height:90vh;
}

#ptag{
	color: skyblue;
	text-align: center;
}

.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
  display: flex;
}

.button_night{
  background-color:blue;
  color:white; 
}
